html, body {
  position: relative;
  background-color: black; }

* {
  box-sizing: border-box; }

.body {
  position: absolute;
  border: 1px solid white;
  border-radius: 50%; }

.sun {
  background-color: yellow; }

.repeller {
  background-color: purple; }

.planet {
  background-color: #00ff00; }

#earth {
  background-color: blue; }

#mars {
  background-color: red; }
